<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <span class="Kota">Manado</span>
    <span class="Tanggal">Senin, 3:54pm</span>
    
    <div class="icon">
      <img src="../../assets/awan2.png" alt="">
    </div>

    <span class="deskripsi">Berawan</span>
    <span class="tempratur">24°</span>

  </div>

  <!-- Perkiraan 7 hari -->
  <ion-grid>
    <!-- baris hari -->
    <ion-row>
      <ion-col class="hari">Sen</ion-col>
      <ion-col class="hari">Sel</ion-col>
      <ion-col class="hari">Rab</ion-col>
      <ion-col class="hari">Kam</ion-col>
      <ion-col class="hari">Jum</ion-col>
      <ion-col class="hari">Sab</ion-col>
      <ion-col class="hari">Min</ion-col>
    </ion-row>

    <!-- kemungkinan terjadi perubahan cuaca -->
    <ion-row>
      <ion-col class="perubahan">60%</ion-col>
      <ion-col class="perubahan">-</ion-col>
      <ion-col class="perubahan">20%</ion-col>
      <ion-col class="perubahan">60%</ion-col>
      <ion-col class="perubahan">-</ion-col>
      <ion-col class="perubahan">-</ion-col>
      <ion-col class="perubahan">-</ion-col>
    </ion-row>

    <!-- weather icon -->
    <ion-row>
      <ion-col class="icon-sm"><img src="../../assets/awan2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/awan2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/awan2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/awan2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/awan2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/awan2.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/awan2.png"></ion-col>
    </ion-row>

    <!-- Tempratur Maksimal -->
    <ion-row>
      <ion-col class="hi-temp">32°c</ion-col>
      <ion-col class="hi-temp">27°c</ion-col>
      <ion-col class="hi-temp">25°c</ion-col>
      <ion-col class="hi-temp">26°c</ion-col>
      <ion-col class="hi-temp">28°c</ion-col>
      <ion-col class="hi-temp">25°c</ion-col>
      <ion-col class="hi-temp">32°c</ion-col>
    </ion-row>

    <!-- Tempratur minimal -->
    <ion-row>
      <ion-col class="lo-temp">15°c</ion-col>
      <ion-col class="lo-temp">17°c</ion-col>
      <ion-col class="lo-temp">16°c</ion-col>
      <ion-col class="lo-temp">16°c</ion-col>
      <ion-col class="lo-temp">18°c</ion-col>
      <ion-col class="lo-temp">18°c</ion-col>
      <ion-col class="lo-temp">17°c</ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
