<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Weather App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="cityName"
    (ngModelChange)="loadData()"
    animated="true"
    placeholder="Search City Here"
    class="searchBar"
  ></ion-searchbar>

  <div *ngIf="!loading">
    <div class="main">
      <span class="city">{{cityName}}</span>
      <span class="date">{{todayDate | date: "EEE, dd MMM"}}</span>

      <div class="icon">
        <img [src]="weatherIcon" alt="" />
      </div>

      <span class="description">{{ (weatherDetails?.description) }}</span>
      <span class="temperature"
        >{{ (weatherTemp?.temp - 273.15).toFixed(0) }}°C</span
      >
    </div>

    <ion-grid>
      <ion-col>
        <span class="max"
          >Max <br />
          Temperature:</span
        >
        <br />
        <span class="temp"
          >{{ (weatherTemp?.temp_max - 273.15).toFixed(0) }}°C</span
        >
        <br />
        <br />
        <img src="../../assets/max-temp.png" alt="" class="img-max" />
      </ion-col>

      <ion-col>
        <span class="lembab">Humidity:</span>
        <br />
        <br />
        <span class="humid">{{ (weatherTemp?.humidity) }}%</span>
        <br />
        <br />
        <img src="../../assets/kelembapan.png" alt="" class="img-lembab" />
      </ion-col>

      <ion-col>
        <span class="min"
          >Min <br />
          Temperature:</span
        >
        <br />
        <span class="temp"
          >{{ (weatherTemp?.temp_min - 273.15).toFixed(0) }}°C</span
        >
        <br />
        <br />
        <img src="../../assets/min-temp.png" alt="" class="img-min" />
      </ion-col>
    </ion-grid>
  </div>

  <div *ngIf="loading">
    <img src="../../assets/search_1" alt="" class="img-load">
  </div>

</ion-content>